body {
  background-color: #222;
}

.navbar {
  font-size: 0.75rem;
  font-weight: 500;
  color: #aaa;
}

#top-nav {
  font-family: "Source Sans 3", serif;
  background-color: #222222bf;
  backdrop-filter: blur(10px);
}
