* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
    list-style-type: none;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #222;
}

#top-header{
    background-color: #EEA727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%; /* 100% of viewport */
    padding: 0 8%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#top-header ul{
    display: flex;
}

#side-header{
    display: flex;
    justify-content: end;
    align-self: start;
    width: 100%; /* 50% of header */
    padding-right: 35%;
    position: sticky;
    top: 100px;
    font-family: "Source Serif 4", serif;
}

#side-header > div{
    height: 100%;
    max-width: 76%;
}

#side-header h1{
    font-family: "Corben", serif;
    font-weight: 500;
    font-size: 42px;
    color: white;
    margin-bottom: 22px;
    line-height: 47px;
    text-transform: capitalize;
}


#side-header h2{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: #f9f9f9;
    margin-bottom: 22px;
}

#side-header p{
    font-size: 14.2px;
    color: #ccc;
    margin-bottom: 60px;
}

#side-nav > ul{
    display: flex;
    flex-direction: column;
}

.side-nav-link{
    display:flex;
    gap: 6px;
    align-items: center;
    color: #aaa;
    font-size: 11px;
    text-transform: uppercase;
    padding: 12px 0;
    max-width: 50%;
}

.side-nav-link::before{
    content: "";
    display: inline-block;
    width: 26px;
    border-bottom: #aaa solid 1px;
    transition: width 0.2s;
}

.side-nav-link:hover:before{
    border-bottom: #fff solid 1px;
    width: 52px;
}

.side-nav-link:hover{
    font-size: 12px;
    color: #fff;
}

main{
    background-color: #85409D;
    max-width: 50%; /* 50% of body */
}

.page-section > h3{
    /* display: none; */
    margin-bottom: 27px;
}